*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: darkblue;
  margin: 5px 20px 50px 20px;
}

main {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  color: white;
  margin: 50px 50px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.main__button-contianer {
  width: 150px;
  align-content: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.main__button-single {
  background-color: darkblue;
  min-width: 40px;
  min-height: 20px;
  font-size: 0.5em;
  color: white;
  border-color: white;
  border-style: dotted;
}
